amqp==2.2.2
bandit==1.4.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
bs4==0.0.1
celery==4.1.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
decorator==4.1.2
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.3.2
gitdb2==2.0.3
GitPython==2.1.7
idna==2.6
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
jupyter-client==5.1.0
jupyter-core==4.4.0
kombu==4.1.0
MarkupSafe==1.0
mccabe==0.6.1
mimerender==0.6.0
parso==0.1.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
Pygments==2.2.0
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.3
SQLAlchemy==1.1.14
stevedore==1.27.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
Werkzeug==0.12.2
-e .